# requirements.txt
streamlit
pypdf
langchain
langchain-community
langchain-classic
langchain-google-genai
chromadb
python-dotenv
requests
streamlit-lottie
streamlit-option-menu
python-docx
markdown
playwright
nest_asyncio